body {
  background-color: black;
  color: lightgray;
  text-align: center;
  font-family: "Times New Roman";
}

img {
  width: 45%;
}

li {
  font-weight: bold;
  text-align: left;
}

.container {
  background-image: url("../img/bamboo_forest_by_welshdragon.jpg");
  background-size: 200%;
  width: 40%;
  height: 75vh;
  margin: 5%;
  border: 2px solid gray;
  overflow: auto;

}

#leftbar {
  float: left;
  font-size: 16pt;
}

#rightbar {
  float: right;
  font-size: 16pt;
}

@media screen and (max-height: 1000px) {
  .container {
    height: 50vh;
  }
}
